[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "~=2.9.0"
cinemagoer = "~=2023.5.1"
tabulate = "~=0.9.0"
tqdm = "~=4.65.0"

[dev-packages]

[requires]
python_version = "3.10"
